.loginDrawerRoot{
    width: 350px;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    background-color: black;
}
/* .rootDrawer{
    z-index: 11000 !important;
} */

.rootDrawer {
position: fixed;
   
    z-index: 10000 !important;
   
    
}

@keyframes slideIn {
    from {
        right: -400px;
    }

    to {
        right: 400px;
    }
}